.sobre-mim{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 600px;
}
.foto{
    height: 350px;
    width: 350px;
    border-radius: 200px;
    border: 3px solid rgb(255, 204, 0);
}
.lado-direito{
    margin-left: 50px;
    margin-top: 20px;
    color: white;
}
.titulo{
    font-size: 65px;
    font-family: Arial;
}
.texto-sobre-mim{
    width: 810px;
    margin-top: 20px;
    font-size: 17px;
    line-height: 30px;
}
.social-links{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    align-items: center;
}
.icon{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
}
.icon:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
    transform: scale(1.1);
}

.botões-lado-direito{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(255, 204, 0);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
    margin-top: 25px;
    margin-right: 20px;
    cursor: pointer;
}
.botões-lado-direito:hover{
    transform: scale(1.1);
    background-color: rgb(221, 178, 7);
    box-shadow: none;
}

.divisoria {
    width: 60%;
    margin: 60px auto 30px auto;
    margin-top: 100px;
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #ffcc00, transparent);
}

@media (max-width: 1047px) {
    .sobre-mim{
        display: flex;
        flex-direction: column;
        margin-top: 250px;
    }
   .foto{
    height: 300px;
    width: 300px;
   }
   .titulo{
    font-size: 60px;
   }
   .texto-sobre-mim{
    width: 480px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    }
    .divisoria{
        margin-top: 350px;
    }
  }
  